.profil {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.main-profil {
  display: flex;
  justify-content: space-between;
}
.block {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 0 60px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.419);
  border-radius: 8px;
  height: 470px;
  gap: 20px;
  transition: 1s;
  p {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    line-height: 40px;
  }
  button {
    color: white;
    border-radius: 5px;
    border: none;
    background-color: rgba(2, 137, 122, 1);
    width: 130px;
    height: 35px;
    font-size: 16px;
  }
}
.h-0 {
  display: flex;
  align-items: center;
  gap: 10px;
  h1 {
    font-size: 70px;
    color: rgba(2, 137, 122, 1);
  }
}
.class {
  h5 {
    font-size: 20px;
    color: rgba(2, 137, 122, 1);
  }
  p {
    font-size: 14px;
    color: rgba(175, 175, 175, 1);
  }
}
.block:hover {
  background-color: rgba(2, 137, 122, 1);
  color: white;
  transform: scale(1.03);

  h1 {
    color: white;
  }
  h2 {
    color: white;
  }
  h5 {
    color: white;
    font-size: 23px;
  }
  p {
    color: white;
  }
  button {
    color: rgba(2, 137, 122, 1);
    background-color: white;
  }
}
#star {
  background-color: rgb(250, 247, 247);
  padding: 200px 0;
}
.star-top {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  h1 {
    font-size: 40px;
  }
}
.main-star {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
}
.main-box {
  display: flex;
  flex-wrap: wrap;
  width: 670px;
  justify-content: space-between;
  padding-left: 400px;
}
.box p {
  padding: 50px 0;
  position: absolute;
  top: 150px;
  left: 240px;
}
.box .Avator {
  width: 90px;
  position: absolute;
  left: 120px;
  top: 175px;
}
.box-1 p {
  padding: 50px 0;
  position: absolute;
  right: 240px;
  top: 155px;
}
.box-1 img {
  width: 90px;
  position: absolute;
  right: 120px;
  top: 175px;
}
.box-3 p {
  padding: 50px 0;
  position: absolute;
  left: 106px;
  top: 267px;
}
.box-3 img {
  position: absolute;
  width: 90px;
  top: 290px;
  left: 330px;
}
.box-4 p {
  padding: 50px 0;
  position: absolute;
  right: 106px;
  top: 267px;
}
.box-4 img {
  width: 90px;
  position: absolute;
  right: 370px;
  top: 290px;
}
.img-1 {
  width: 280px;
  height: 65px;
  position: absolute;
  left: 210px;
  top: 185px;
}
.img-2 {
  width: 280px;
  position: absolute;
  right: 80px;
  top: 300px;
}
.img-3 {
  width: 240px;
  position: absolute;
  right: 220px;
  top: 190px;
}
.img-4 {
  width: 230px;
  position: absolute;
  top: 302px;
  left: 85px;
}
#content {
  padding: 100px 0;
  background-color: rgb(249, 247, 247);
}
.content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.content-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.images {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.img {
  display: flex;
  justify-content: center;
}
#profil {
  background-color: rgb(250, 247, 247);
}
.section-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  h1 {
    font-size: 37px;
  }
}
.span-2 {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  width: 1050px;
}
button:active {
  transform: scale(0.93);
}
