* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Poppins;
  button {
    border: none;
    border-radius: 5px;
  }
  p {
    z-index: 100;
  }
  .burger {
    display: none;
  }
  img {
    max-width: 500px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: rgba(23, 58, 86, 1);
  }
  a {
    color: rgba(34, 52, 61, 0.841);
    font-weight: 500;
  }
}
#header {
  padding: 20px 0 60px;
  background: rgba(237, 237, 237, 1);
}
.container {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  gap: 10px;
}
nav {
  display: flex;
  gap: 30px;
  align-items: center;
}
nav a {
  font-size: 13px;
}
nav a:focus {
  color: black;
  font-weight: 600;
}
nav button {
  width: 80px;
  height: 30px;
  font-size: 12px;
  font-weight: 500;
  background: none;
  border: 1.5px solid rgba(188, 208, 229, 1);
  transition: 0.3s;
}
nav button:hover {
  background-color: rgba(2, 137, 122, 1);
  border: none;
  color: white;
}
#main {
  background: rgba(237, 237, 237, 1);
}
.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    width: 100%;
  }
}
.main-text {
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-between;
  h1 {
    font-size: 40px;
  }
  p {
    font-size: 15px;
    width: 100%;
    line-height: 2;
  }
}
.btn {
  display: flex;
  align-items: center;
  gap: 20px;
}
.btn button {
  color: white;
  width: 140px;
  height: 40px;
  border-radius: 3px;
  background: rgba(2, 137, 122, 1);
}
.span {
  width: 100%;
  height: 40px;
  font-size: 13px;
  color: black;
  display: flex;
  align-items: center;
  color: rgba(2, 137, 122, 1);
  font-weight: 600;
  gap: 10px;
}
.span::before {
  content: "▶";
  color: rgba(2, 137, 122, 1);
  font-size: 18px;
}
#hero {
  background: rgba(237, 237, 237, 1);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  padding-bottom: 30px;
}
.hero-top {
  display: flex;
  justify-content: center;
  padding: 80px 0;
  h1 {
    width: 500px;
    text-align: center;
    font-size: 30px;
  }
}
.hero-btn {
  padding: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  button {
    width: 150px;
    height: 40px;
    color: white;
    font-weight: 600;
    background-color: rgba(2, 137, 122, 1);
  }
}
.icons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.box5 {
  display: flex;
  flex-direction: column;
  width: 260px;
  gap: 15px;
  h3 {
    font-weight: 700;
    font-size: 20px;
  }
  p {
    font-size: 12px;
  }
  img {
    max-width: 55px;
    width: 100%;
  }
}
.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  img {
    width: 100%;
    max-width: 480px;
  }
}
.section-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 600px;
  h5 {
    font-size: 18px;
  }
  h1 {
    font-size: 30px;
  }
  p {
    font-size: 15px;
    color: rgba(34, 52, 61, 1);
    width: 100%;
    max-width: 450px;
  }
}
#support {
  padding: 100px 0;
}
.support {
  display: flex;
  align-items: center;
  justify-content: center;
}
.for {
  display: flex;
  align-items: center;
  justify-content: center;
}
.p-0 {
  display: flex;
  align-items: center;
  gap: 10px;
}
.line-1::before {
  content: "✔";
  background: rgba(255, 153, 0, 1);
  color: white;
  padding: 5px 8px;
  font-size: 15px;
  border-radius: 10px;
}
.line-2::before {
  content: "✔";
  height: 50px;
  padding: 5px 8px;
  font-size: 15px;
  border-radius: 10px;
  color: white;
  background: rgba(240, 62, 61, 1);
}
.line-3::before {
  content: "✔";
  background: rgba(77, 141, 255, 1);
  color: white;
  height: 50px;
  padding: 5px 8px;
  font-size: 15px;
  border-radius: 10px;
}
#for {
  margin: 100px 0;
}

#process {
  padding: 50px 0;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  background-color: rgb(250, 247, 247);
  height: 500px;
}
.process {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  button {
    color: white;
    background: rgba(2, 137, 122, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 190px;
    height: 60px;
    font-size: 15px;
    font-weight: 700;
  }
}
.process-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  h1 {
    color: rgba(0, 0, 0, 0.727);
    font-size: 30px;
  }
  p {
    width: 550px;
    text-align: center;
    color: rgba(0, 0, 0, 0.692);
    font-weight: 500;
  }
}

.box1 {
  padding: 20px 20px 10px 20px;
  width: 270px;
  border: 1px solid rgba(86, 86, 86, 0.173);
  box-shadow: 0 0 5px 0 rgba(56, 56, 56, 0.127);
  p {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.559);
  }
  img {
    padding: 15px;
  }
}
#Block {
  background-color: rgb(250, 247, 247);
  padding: 0 0 50px;
  width: 100%;
}
.Block {
  background: rgba(2, 137, 122, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  padding-right: 20px;
  height: 260px;
  border-radius: 30px;
}
.Block-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
  h1 {
    font-size: 35px;
    color: white;
    width: 100%;
  }
  button {
    width: 140px;
    height: 40px;
    color: rgba(2, 137, 122, 1);
    background-color: white;
    font-size: 17px;
    font-weight: 500;
  }
}
#footer {
  background-color: rgb(250, 247, 247);
  padding: 100px 0 0;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.type-logo img {
  width: 50px;
  padding: 5px 10px;
}
.span-1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  h2 {
    font-size: 17px;
    font-weight: 600;
  }
}
.span-1 h3 {
  font-weight: 500;
  font-size: 15px;
}
.type-logo img {
  width: 35px;
}
.logo img {
  width: 40px;
  padding: 0;
}
.logo h1 {
  font-size: 27px;
  color: rgba(23, 58, 86, 1);
}
.profil {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.main-profil {
  display: flex;
  justify-content: space-between;
}
.block {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 40px 60px;
  position: relative;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.419);
  border-radius: 8px;
  height: 425px;
  gap: 20px;
  transition: 1s;
  p {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    line-height: 40px;
  }
  button {
    color: white;
    border-radius: 5px;
    border: none;
    background-color: rgba(2, 137, 122, 1);
    width: 130px;
    height: 35px;
    font-size: 16px;
  }
}
.h-0 {
  display: flex;
  align-items: center;
  gap: 10px;
  h1 {
    font-size: 70px;
    color: rgba(2, 137, 122, 1);
  }
}
.class {
  h5 {
    font-size: 20px;
    color: rgba(2, 137, 122, 1);
  }
  p {
    font-size: 14px;
    color: rgba(175, 175, 175, 1);
  }
}
.block:hover {
  background-color: rgba(2, 137, 122, 1);
  color: white;
  transform: scale(1.03);

  h1 {
    color: white;
  }
  h2 {
    color: white;
  }
  h5 {
    color: white;
    font-size: 23px;
  }
  p {
    color: white;
  }
  button {
    color: rgba(2, 137, 122, 1);
    background-color: white;
  }
}
#star {
  background-color: rgb(250, 247, 247);
  padding: 200px 0;
}
.star-top {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  h1 {
    font-size: 40px;
  }
}
.main-star {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
}
.main-box {
  display: flex;
  flex-wrap: wrap;
  width: 670px;
  justify-content: space-between;
  padding-left: 400px;
}
.box0 p {
  padding: 50px 0;
  position: absolute;
  top: 150px;
  left: 240px;
}
.box0 .Avator {
  width: 90px;
  position: absolute;
  left: 120px;
  top: 175px;
}
.box-1 p {
  padding: 50px 0;
  position: absolute;
  right: 240px;
  top: 155px;
}
.box-1 img {
  width: 90px;
  position: absolute;
  right: 120px;
  top: 175px;
}
.box-3 p {
  padding: 50px 0;
  position: absolute;
  left: 106px;
  top: 267px;
}
.box-3 img {
  position: absolute;
  width: 90px;
  top: 290px;
  left: 330px;
}
.box-4 p {
  padding: 50px 0;
  position: absolute;
  right: 106px;
  top: 267px;
}
.box-4 img {
  width: 90px;
  position: absolute;
  right: 370px;
  top: 290px;
}
.img-1 {
  width: 280px;
  height: 65px;
  position: absolute;
  left: 210px;
  top: 185px;
}
.img-2 {
  width: 280px;
  position: absolute;
  right: 80px;
  top: 300px;
}
.img-3 {
  width: 240px;
  position: absolute;
  right: 220px;
  top: 190px;
}
.img-4 {
  width: 230px;
  position: absolute;
  top: 302px;
  left: 85px;
}
#content {
  padding: 100px 0;
  background-color: rgb(249, 247, 247);
}
.content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.content-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  h1 {
    font-size: 30px;
  }
  p {
    font-size: 16px;
    font-weight: 600;
  }
}
.images {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  max-width: 100%;
}
.box {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
  height: 360px;
  gap: 30px;
  border-radius: 5px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  box-shadow: 0 0 10px 0 rgba(52, 51, 51, 0.236);
  h1 {
    max-width: 300px;
  }
  img {
    width: 100%;
  }
}
.box:hover {
  h1 {
    color: rgba(2, 137, 122, 1);
  }
}
.box-text {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  h1 {
    line-height: 40px;
    font-size: 22px;
  }
}
.img {
  display: flex;
  justify-content: center;
}
.img img {
  width: 100%;
  max-width: 70px;
}
#profil {
  background-color: rgb(250, 247, 247);
}
.section-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  h1 {
    font-size: 37px;
  }
}
.span-2 {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  width: 100%;
}
button:active {
  transform: scale(0.93);
}

.input {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  input {
    width: 80%;
    border-radius: 5px;
    border: none;
    border: 1px solid rgba(46, 46, 46, 0.253);
    box-shadow: 0 1px 1px 0 rgba(43, 43, 43, 0.473);
    height: 40px;
    padding-left: 10px;
    font-size: 17px;
  }
  button {
    width: 140px;
    height: 40px;
    color: white;
    background-color: rgba(2, 137, 122, 1);
    font-weight: 600;
    font-size: 15px;
  }
  h2 {
    font-weight: 600;
    font-size: 20px;
  }
}
